

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">signin</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="ion-text-center top-section">
    <ion-icon name="football-outline" class="top_icon" color="light"></ion-icon>
    <br>
    <ion-label>
      <h2>Sign In</h2>
    <p>Access your account</p>
    </ion-label>
  </div>
  <div class="login_form">
    <ion-item lines="none">
      <ion-input type="email" placeholder="Email"></ion-input>
      </ion-item>
    
    <ion-item lines="none" class="password_input">
      <ion-input type="text" placeholder="Password"></ion-input>
      <ion-icon name="eye-outline" class="eye_icon" slot="end"></ion-icon>
    </ion-item>
    <br>
    <ion-button class="signin-button" expand="block" fill="clear">Sign In</ion-button>
    <p class="ion-text-center">Or Sign In With</p>
    <ion-button class="google_button" expand="block" color="dark" fill="clear"><img src="../../../assets/icon/google.png" width="24">&nbsp;&nbsp;&nbsp;Google</ion-button>
    <ion-button class="fb_button" expand="block" color="dark" fill="clear"><img src="../../../assets/icon/facebook.png" width="24">&nbsp;&nbsp;&nbsp;Facebook</ion-button>
  </div>
</ion-content>
